.container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1400px;
    height: 710px;
    margin-left: -700px;
    margin-top: -355px;
    min-width: 0;
    max-width: 1500px;
    justify-content: center;
    align-content: flex-start;

}